@model List<eTickets.Models.Domain.Actor>
@{
	ViewData["Title"] = "List Of Actors";
}

<div class="row">
	<div class="col-md-8 offset-md-2">

		<table class="table">
			<thead>
				<tr>
					<th>@Html.DisplayNameFor(m => m[0].ProfilePictureURL)</th>
					<th>@Html.DisplayNameFor(m => m[0].FullName)</th>
					<th>@Html.DisplayNameFor(m => m[0].Bio)</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				@foreach(var actor in Model)
				{
					<tr>
						<td class= "align-middle"><img class="rounded-circle" src="@actor.ProfilePictureURL" alt="@actor.FullName" style="width: 150px;height: 150px" /></td>
						<td class= "align-middle">@actor.FullName</td>
						<td class="align-middle"> @Html.Raw(@actor.Bio)</td>
						<td class="align-middle">
							<a class="btn btn-outline-primary" href="#"><i class="bi bi-pencil-square"></i>Edit</a>
							<a class="btn btn-outline-info" href="#"><i class="bi bi-eye"></i>Details</a>
							<a class="btn btn-danger" href="#"><i class="bi bi-trash"></i>Delete</a>
						</td>
					</tr>
				}
			</tbody>
		</table>

	</div>
</div>

<div style="position:fixed;bottom:1em;right:1em" class="text-white">
	<a asp-action="Create" asp-controller="Actors" class="btn btn-success">
		<i class="bi bi-plus-circle"></i>Add New
	</a>
</div>